@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>J & F Trading</title>
    <meta name="keywords" content="J&F  J & F Trading" />
    @Styles.Render("~/Bundles/vendor/css")
    @Scripts.Render("~/Bundles/vendor/js/top")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        /* 虚拟目录名称 */
        var  virtualDirName = '@ApplicationPath';
    </script>
   
</head>
<body>
    <div id="all">
        <div class="top">
            <div class="top_middle">
               
            </div>
        </div>
        <div class="conts">
            <div class="aa">
                <img src="~/images/IMG_4510.JPG" style="width:100%;height:100%;position:absolute;">
            </div>
            @Html.Partial("_TopBar")
            <div class="banner">
                @RenderBody()
            </div>
            <!-- 代码 结束 -->
           @Html.Partial("_Foot")
        </div>
      
   </div>

        <!-- View specific scripts -->
        @RenderSection("scripts", required: false)
</body>
</html>
