
<div class="meun">
    <div class="middle_meun">
        <div class="logo">
            <p><a href="@Url.Action("Index","Home")"><img src="~/images/IMG_4491.png" style="overflow:hidden;height:80px;"></a></p>
        </div>
        <div class="meuns_list">
            <ul>
                <li><a href="@Url.Action("Index","Home")">HOME</a></li>

                <li><a href="@Url.Action("Index","About")">ABOUT US</a></li>

                <li><a href="@Url.Action("List","Product")">PRODUCTS</a></li>

                <li><a href="@Url.Action("Index","Contact")">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</div>